* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Blue-950: hsl(233, 26%, 24%);
  --Green-500: hsl(136, 64%, 51%);
  --Cyan-400: hsl(192, 69%, 51%);
  --Gray-600: hsl(233, 8%, 62%);
  --Gray-100: hsl(220, 16%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
  --f-normal: 1.125rem;
  --f-large: 3rem;
  --fw-normal: 300;
  --fw-medium: 400;
  --fw-large: 700;
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: var(--fw-normal);
  font-size: var(--f-normal);
  position: relative;
  background-color: var(--Gray-50);
}
h1 {
  font-size: var(--f-large);
  font-weight: var(--fw-medium);
}
h2 {
  font-size: 2.5rem;
  font-weight: var(--fw-medium);
}
h3 {
  font-size: 2rem;
  font-weight: var(--fw-medium);
}
h4 {
  font-size: 1.5rem;
  font-weight: var(--fw-large);
}
.navbar {
  background: var(--White);

  width: 100%;
}
.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  position: absolute;
  background: var(--White);
  width: 100%;
  max-width: 100%;
}
.nav-content {
  display: none;
  visibility: hidden;
}
.navbar button {
  border: none;
  & :hover {
    cursor: pointer;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  color: var(--Blue-950);
  text-align: center;
  padding: 2rem;
  gap: 2rem;
  position: relative;
}
.hero-image {
  z-index: -1;
}
.hero-content {
  z-index: -1;
  margin-top: 25rem;
  margin-bottom: 10rem;
  text-align: center;
}
.hero-content > * {
  margin-bottom: 2rem;
}
.back {
  z-index: -2;
  width: 100%;
  position: absolute;
  top: -20%;
  left: 0;
}
.front {
  width: 80%;
  z-index: -2;
  position: absolute;
  top: -20%;
  left: 10%;
}
/* .back {
  top: 0;
  left: 0
  position: absolute;
  background: url(./images/bg-intro-mobile.svg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
} */
.content {
  position: relative;
  z-index: 5;
  width: 100%;
}
.btn-green {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  color: var(--White);
  font-weight: var(--fw-large);
  background: linear-gradient(var(--Green-500), var(--Cyan-400));
}
.second {
  margin: 5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.item > * {
  margin-bottom: 2rem;
}
.articles {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 4 1fr;
  margin-bottom: 4rem;
  gap: 1rem;
}
.article {
  border-radius: 20px;
  margin: 2rem 4rem;
}
.articles h2 {
  margin-bottom: 4rem;
  text-align: center;
}
.article img {
  width: 100%;
}

.article-item {
  background-color: var(--White);
  padding: 2rem;
}
.article-item > * {
  margin-bottom: 1rem;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Blue-950);
  color: var(--White);
}
.footer-icons {
  text-align: center;
  margin-bottom: 2rem;
}
.footer-items {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .btn-green {
  width: fit-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.copyright {
  color: var(--Gray-600);
  margin-bottom: 3rem;
}
.attribution {
  background-color: var(--Blue-950);
  text-align: center;
  color: var(--White);
}
.logo-bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* @media screen and (min-width: 600px) {
  .navbar {
  }
  .navbar > button {
    display: none;
  }
  .navbar > .logo {
    display: none;
  }
  .nav-content {
    display: block;
    visibility: visible;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
} */
@media screen and (min-width: 600px) {
  .navbar > button {
    display: none;
  }
  .mobile {
    display: none;
  }
  .nav-content {
    display: block;
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    gap: 2rem;
  }
  .nav-link {
    color: var(--Gray-600);
    list-style: none;
  }

  .second {
    background-color: var(--Gray-100);
    display: grid;
    grid-template-columns: 4 1fr;
  }
  .second .item {
    display: flex;
    flex-direction: column;
  }
}
